@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roboto-slab-body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav {
    background: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
}

nav ul li:hover {
    background-color: #ac7e68;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h3 span i {
    padding-right: 10px;
}

.main-color {
    color: #ac7e68;
}

#section1 {
  background: #fffbf2;
  display: grid;
  grid-template-columns: 500px 1fr;  /* 左图 右内容 */
  gap: 80px;                        /* 🔥 关键间距 */
  padding: 80px 150px;
  align-items: center;
}

.section-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 10px 10px 20px rgba(134, 122, 51, 0.87), /* 右下明显阴影 */
      -3px -1px 5px rgba(82, 73, 34, 0.2); /* 左上轻微阴影 */
}

.section-contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content-title {
    text-align: center;
    color: #ac7e68;
    font-weight: 450;
    font-size: 2rem;
    margin-bottom: 30px;
}

.contents {
    display: grid;
    grid-template-columns: 1fr auto;  /* 左右两列 */
    gap: 0.5rem;
}

.contents p {
    font-size: 1rem;
}

#footer {
    background-color: #222;
    height: 10vh;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}