@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roboto-slab-body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav {
    background: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
}

nav ul li:hover {
    background-color: #ac7e68;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h3 span i {
    padding-right: 10px;
}

.main-color {
    color: #ac7e68;
}

header {
    background: url(/images/home1.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-content {
    color: #ac7e68;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .head-content h1 {
    color: #fff;
    font-size: 3rem;
}

#section1 {
    display: flex;
    justify-content: center;
    background: #fffbf2;
    padding: 50px;
    align-items: stretch;
    height: 100%;
}

.section-text {
    margin-left: 20px;
    width: 40%;
}

.section-text h2 {
    margin-top: 30px;
}

.section-text p {
    margin-top: 50px;
    margin-right: 100px;
}

.section-img {
    flex: 0 0 700px;   /* 不缩放，固定宽度为500px */;    /* 让 .section-img 占据可用的剩余空间 */
    min-height: 500px;
    /* 边框 + 嵌入效果 */
    border: 5px solid #fff;       /* 白色边框 */
    border-radius: 4px;          /* 圆角，更像卡片 */
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    /* 设置阴影效果 ----- 浮起来的阴影：
    0：水平偏移量（阴影向左或右偏移，0 表示没有偏移）；8px：垂直偏移量（阴影向下偏移 8px）
    20px：模糊半径（阴影的模糊程度，20px 是比较模糊的效果）
    rgba(0,0,0,0.2)：阴影的颜色和透明度，rgba 允许指定透明度，0.2 表示 20% 透明，黑色阴影 */
    /* margin: 20px;                 设置外边距，外面留白，让边框显出来 */
    overflow: hidden;             /* 控制溢出内容的显示 */

    background: url(/images/home-image-1.jpg);
    background-position: center;    /* 设置背景图的位置 */
    background-repeat: no-repeat;   /* 禁止背景图重复 */
    background-size: cover;     /* 控制背景图的缩放 */
}

#section2 {
    background: url(/images/home2.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section2-content h2 {
    color:#fff;
    font-weight: 500;
    font-size: 3rem;
}

.section2-content button {
    margin-top: 50px;
    font-size: 2em;
    color: #fff;
    width: 300px;
    height: 100px;
    background: #ac7e68;
    border: 0;
}

.section2-content button:hover {
    background: cornflowerblue;
    color: #222;
}

#article {
    background-color: #fffbf2;
    height: 40vh;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.article-title h2 {
    font-weight: 500;
    font-size: 3rem;
    margin-top: 60px;
}

.article-detail {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 80%;
    margin: 50px 0px;
    /* border: 1px solid black; */
    row-gap: 100px;
}

.article-detail p {
    padding: 0px 100px;
}
.article-detail p:first-child {
    font-style:italic;
    padding-bottom: 30px;
}

.article-detail p:nth-child(2) {
    font-style: bold;
    padding-bottom: 10px;
}

#footer {
    background-color: #222;
    height: 10vh;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}
