/* id → 唯一的名字，CSS#、JS用它；class → 可复用，多元素共享样式。 
# → id（唯一），. → class（复用），* → 全选（全员集合）*/

* {
    box-sizing: border-box;
}
/* 盒子从里到外：内容(content) → 内边距(padding) → 边框(border) → 外边距(margin)，content-box 算内容，border-box 算总和，overflow 管溢出。 */

h1 {
    text-align: center;
    color: blue;
    padding:10px 20px 40px 30px;        /*  padding:内容到边框之间的“内边距”（上 右 下 左）; */
}

p {
    color: rgb(158, 180, 241);
    background-color: rgb(227, 191, 227);
    margin: 100px;/* 控制元素与元素之间的“外边距” */
    overflow: auto;
}
/* overflow 管“溢出”，
hidden → 隐藏，
scroll → 滚动，
auto → 智能显示，
visible → 放任自流 */

.roboto-regular {
    font-family: "Roboto", sans-serif;      /* 优先用 Roboto；如果没有，用系统默认无衬线字体 */
    font-optical-sizing: auto;      /* 根据 字体大小，自动调整字形细节(auto：浏览器自动调（推荐），none：关闭自动调节) */
    font-weight: 1000;   /*可变字体支持 1–1000 的连续变化*/
    font-style: normal;     /* 字体样式：normal：正常，italic：斜体；如果 Roboto 有可变斜体，这里也能平滑变化 */
    font-variation-settings:    /*直接控制字体轴（axis）*/
        "wdth" 100;     
}


